<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
	    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
	    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>任务详情</title>
	    <link rel="stylesheet" href="__PUBLIC__/wx/lib/weui/jquery-weui.css" />
	    <link rel="stylesheet" href="__PUBLIC__/wx/lib/weui/weui.min.css" />
	    <link rel="stylesheet" href="__PUBLIC__/wx/lib/swiper/swiper.min.css" />
	    <link rel="stylesheet" href="__PUBLIC__/wx/css/public.css" />
	    <link rel="stylesheet" href="__PUBLIC__/wx/css/style.css" />
	    <script type="text/javascript" src="__PUBLIC__/wx/lib/jq/jquery-1.10.2.js" ></script>
	    <script type="text/javascript" src="__PUBLIC__/wx/lib/weui/jquery-weui.js" ></script>
	    <script type="text/javascript" src="__PUBLIC__/wx/js/v.min.js" ></script>
	    <script type="text/javascript" src="http://jqweui.com/dist/js/swiper.js" ></script>
	    <script type="text/javascript" src="__PUBLIC__/wx/js/common.js" ></script>
	    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js" ></script>
	</head>
	<style>
		/*.weui-cells:after{ display: none;}*/
	</style>
	<body>
		<section class="mainSec" id="app">
			<div class="weui-cells weui-cells_form xialaForm">
	            <div class="weui-cell">
	                <div class="weui-cell__bd">
	                    <p class="title" style="min-width: 90px;">记录状态</p>
	                </div>
	                <div class="weui-cell__ft stateText" :class="state==4?'yjs':(state==5?'ycl':'ypj')">
	                	<span v-text="stateText"></span>
	                	<span v-text="jjText" class="stateBg" :class="jjState==1?'fcjj':(jjState==2?'jj':'zc')"></span>
	                </div>
	            </div>
	            <div class="weui-cell">
	                <div class="weui-cell__bd">
	                    <p class="title" style="min-width: 90px;">报修项目</p>
	                </div>
	                <div class="weui-cell__ft stateText" v-text="proName"></div>
	            </div>
	            <div class="weui-cell">
	                <div class="weui-cell__bd">
	                    <p class="title" style="min-width: 90px;">项目地址</p>
	                </div>
	                <a :href="proUrl" class="weui-cell__ft stateText iconAddress" v-text="proAddress"></a>
	            </div>
	            <div class="weui-cell">
	                <div class="weui-cell__bd">
	                    <p class="title" style="min-width: 90px;">故障类型</p>
	                </div>
	                <div class="weui-cell__ft stateText" v-text="lx"></div>
	            </div>
	            <div class="weui-cell">
	                <div class="weui-cell__bd">
	                    <p class="title" style="min-width: 90px;">报修人</p>
	                </div>
	                <a :href="mobile" class="weui-cell__ft stateText iconPerson" v-text="person">{$data.user_name}</a>
	            </div>
	            <div class="weui-cell">
	                <div class="weui-cell__bd">
	                    <p class="title" style="min-width: 90px;">报修时间</p>
	                </div>
	                <div class="weui-cell__ft stateText" v-text="times"></div>
	            </div>
	            <div class="weui-cell">
	                <div class="weui-cell__hd"><label class="weui-label stateText">报修信息</label></div>
	            </div>
	            <div>
                    <div style="padding: 0 15px 10px; font-size: .95rem;" v-text="info"></div>
                    <div class="urlBox clearfix" style="padding: 0 0 0 15px;">
                    	<div v-for="prop in picUrls1" class="picBox boxItem">
                    		<img :src="prop.imgs" style="width: 100%; object-fit: cover;" />
                    	</div>
                    	<div v-for="prop in videoUrls1" class="vedioBox boxItem">
                    		<video :src="prop.urls" controls name="media" style="width:100%;height: 100%;"></video>
                    	</div>
                    </div>
               	</div>
	        </div>
	        <a class="BTN" @click="receive($event)">立即接收</a>
		</section>
	</body>
</html>
<script>
var app = new Vue({
		el:'#app',
		data:{
			proName:'{$data.project_name}',     //项目名称
			proAddress:'{$data.project_area}',      //项目地址
			proUrl:'232423432',   //项目地址导航链接
			lx:'{$data.fault_type}',      //故障类型
			person:'{$data.user_name}',     //报修人
			mobile:"tel:"+'{$data.mobile}',   //报修人电话
			times:'{$data.create_time}',    //报修时间
			info:'{$data.repairs_info}',      //报修信息
			resultInfo:'{$data.deal_message}',   //处理结果
			jjState:'{$data.emergency_degree}',    //紧急程度（1.非常紧急，2.紧急，3.正常）
			jjText:'{$data.degree}',    //紧急程度文本
			stateText:'待接收',    //当前状态名
			state:'{$data.state}',    //当前状态（1.待指派，2.已驳回，3.待接收，4.已接收，5.已处理，6.已评价）
			picUrls1:[
				{
					imgs:'__PUBLIC__/wx/img/tupian@2x.png'
				},
				{
					imgs:'__PUBLIC__/wx/img/tupian@2x.png'
				}
			],    //图片路径（报修信息）
			videoUrls1:[
				{
					urls:'__PUBLIC__/wx/img/video.mp4'
				},
				{
					urls:'__PUBLIC__/wx/img/video.mp4'
				}
			],    //视频路径（报修信息）
			picUrls2:[
				{
					imgs:'__PUBLIC__/wx/img/tupian@2x.png'
				},
				{
					imgs:'__PUBLIC__/wx/img/tupian@2x.png'
				}
			],    //图片路径（处理结果）
			videoUrls2:[
				{
					urls:'__PUBLIC__/wx/img/video.mp4'
				},
				{
					urls:'__PUBLIC__/wx/img/video.mp4'
				}
			],    //视频路径（处理结果）
		},
		methods:{
			receive : function () {
                var self=this;
                //ajax
                $.ajax({
                    url: "{:U('User/Center/receive')}",
                    type: 'POST',
                    data: {id:'{$data.id}'},
                    dataType:"json",
                    success:function (res) {
                        if (res.status == 1) {
                            self.notice="你已接受该任务，请抓紧时间前往处理吧~";
                            self.isshow=true;
                            $('body').addClass('overflow');
                            setInterval(function () {
                                location.href = '{:U("work")}';
                            }, 1000)
                        }else {
                            self.notice="当前网络繁忙，请稍后再试~";
                            self.isshow=true;
                            $('body').addClass('overflow');
                        }
                    }
                });
            }
		}
	});

$(function(){
	var width=$(window).width()-60;
	$('.urlBox>div').width(width/3);
	$('.urlBox>div').height(width/3);
	
	//图片预览
	$(".picBox").bind('click','img',function(evt){
		var html1=evt.currentTarget.innerHTML;
		var urls=$(evt.target).attr("src")
		var preview = $.photoBrowser({
		  items: [
			urls
		  ],
		  onClose:function(){
		  	preview.close();
		  }
		});
		preview.open();
	})
})
</script>
